<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opgave2</title>
</head>
<body>
    <h1>Tilføj data</h1>
    <form action="/save" method="post" modelAttribute="task">
        <p><label>Beskrivelse: </label> <input name="description" type="text" required></p>
        <p><label>Status: </label> <input name="status" type="text"></p>
        <button type="submit">Gem</button>
    </form>
</body>
</html>